.recipe-text {
  max-width: 100%;
  padding: 12px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-y: auto;
  font-size: calc(12px + 0.5vw);
  line-height: 1.6;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 360px;
}

.recipe-text::-webkit-scrollbar {
  width: 8px;
}

.recipe-text::-webkit-scrollbar-track {
  background: transparent;
}

.recipe-text::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

button {
  color: #fff;
  background-color: var(--accent);
}
