.password-field {
  position: relative;
  width: 100%;
  max-width: 360px;
}

.password-field input {
  width: 100%;
  padding-right: 48px;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  right: 12px;
  top: 43%;
  transform: translateY(-50%);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  opacity: 0.95;
  padding: 0 6px;
  z-index: 3;
  user-select: none;
}

.password-toggle-icon:hover,
.password-toggle-icon:focus {
  opacity: 1;
  outline: none;
}

.password-toggle-icon:focus-visible {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.password-toggle-icon svg {
  display: block;
  transform-origin: 50% 50%;
  color: inherit;
}
