.password-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 360px;
}

.password-error {
  color: #b00020;
  font-size: 13px;
  margin-bottom: 6px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: -1.9rem;
  padding: 2px 0;
  white-space: normal;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  right: 12px;
  top: 43%;
  transform: translateY(-50%);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.95;
  padding: 0 6px;
  z-index: 2;
}

.password-toggle-icon:hover {
  opacity: 1;
}

.password-field input.user-form-input {
  width: 100%;
  padding-right: 48px;
  box-sizing: border-box;
}

.password-field.invalid input.user-form-input {
  border: 2px solid #b00020 !important;
}

.password-field.invalid {
  box-shadow: none !important;
}

.password-toggle-icon svg {
  display: block;
  color: inherit;
}
