.password-field {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-top: -10px;
}

.password-field input {
  width: 100%;
  padding-right: 48px;
  overflow: visible;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  right: 12px;
  top: 43%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  opacity: 0.95;
  z-index: 3;
}

.password-field.invalid {
  border-radius: 6px;
}

.password-field.invalid .user-form-input {
  border-color: #b00020 !important;
}

.password-error {
  width: 600px;
  color: #b00020;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2.6rem;
  white-space: normal;
  padding: 12px 6px;
}

.password-wrapper {
  position: relative;
  width: 100%;
  max-width: 360px;
}
