.forgot-password {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.forgot-password h2 {
  text-align: left;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
}

.forgot-content {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}

.forgot-content .user-form-row {
  width: 100%;
}

.forgot-content .user-form-input {
  width: 100%;
  box-sizing: border-box;
}

.forgot-password .user-form-row {
  width: 100%;
  max-width: 100%;
  display: block;
}

.forgot-password .user-form-input {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.forgot-password .user-form-actions {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.forgot-password .user-form-actions .sign-up-btn {
  margin-left: auto;
}
