cloudflare:
  r2:
    account-id:
    access-key:
    secret-key:
    bucket:
    public-domain:

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false
  springdoc-openapi-core:
    api-docs:
      resolve-fully: false
